:root {
  --home: #ffde09;
  --home-accent: #780ff3;
}

body {
  overflow: hidden; /* Hide any content that overflows the viewport */
}

.login-button {
  color: var(--home-accent);
  background-color: var(--home);
  display: inline-block;
  padding: 1.4vh 2.4vh; /* Adjust the padding as needed */
  text-decoration: none; /* Remove default underline */
  border: solid 0.2vh;
  border-radius: 2vh;
  cursor: pointer;
  font-size: 2vh; /* Adjust the font size as needed */
  font-weight: bold;
  border-color: var(--home-accent);
  font-family: "Helvetica";
 
}

.login-screen {
  height: calc(100vh - 10vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.login-screen__title {
  z-index: 1;
  width: 45vh;
  font-family: "Helvetica";
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -8vh;
}

#home-now {
  font-size: 7vh;
  margin-bottom: -2.8vh;
  margin-top: 0;
}
#home-thats {
  font-size: 2.2vh;

  border-style: solid;
  border-radius: 8vh;
  width: 26vh;
  height: 2.6vh;
  justify-self: center;
}
#home-ify {
  font-size: 7vh;
  margin-top: -2.8vh;
}

.text--home {
  color: var(--home);
  text-shadow: -0.2vh -0.2vh 0 var(--home-accent),
    0.2vh -0.2vh 0 var(--home-accent), -0.2vh 0.2vh 0 var(--home-accent),
    0.2vh 0.2vh 0 var(--home-accent);
}

.text--home__highlighted {
  color: var(--home);
  background-color: var(--home-accent);
}

#explainer {
  display: inline-block;
  padding: 1vh 2vh; /* Adjust the padding as needed */
  text-decoration: none; /* Remove default underline */
  font-size: 2.5vh; /* Adjust the font size as needed */
  font-family: "Helvetica";
  font-style: italic;
  margin: 0;
}

.example-image {
  width: 50vh;
}
