.main-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  overscroll-behavior: none;
}

:root {
  --tropical: #e4fee8;
  --tropical-accent: #230c5a;
  --ice: #b4e9f0;
  --ice-accent: #0d1f27;
  --bubbles: white;
  --bubbles-accent: #3f1635;
  --balloons: yellow;
  --balloons-accent: rgb(122, 4, 120);
  --fireworks: #1c056d;
  --fireworks-accent: #fafae3;
  --splash: yellow;
  --splash-accent: #093a41;
}

/* .main-app-formatter {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main-app-formatter {
    display: flex;
    flex-direction: row;
  }
} */
