.save-button button {
    border-radius: 1.3vh;
    margin: 1vh 2vh;
    width: 18vh;
    height: 7vh;
    font-size: 1.9vh;
    cursor: pointer;
  }
  
  .save-button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .screenshot-instruction{
    font-size: 1.9vh;
    font-style: italic;
  }
  /* hover colour is done in options.css */